<launch>

<node pkg="pure_pursuit" type="pure_pursuit_node" name="pure_pursuit_node" output="screen">
    <param name="distancia_lookahead" value="1.0" />
    <param name="vel_angular_max" value="1.0" />
    <param name="tolerancia_posicion" value="0.1" />
    <param name="path_topic" value="/move_base/SBPLLatticePlanner/plan" />
    <param name="odom_topic" value="/steer_bot/odom" />
    <param name="cmdVel_topic" value="/purepursuit/cmd_vel" />
    <param name="map_frameid" value="map" />
    <param name="robot_frameid" value="base_link" />
    <param name="lookahead_frameid" value="lookahead" />
</node>

<node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />

</launch>